.bookmarkCardContainer{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.img-bkm-card{
  align-self: center;
  margin-top: 2px;
  height: 45%;
  width: auto;
}

.bookmark {
  height: auto;
  //height: 300px;
  width: 31%;
  margin: 10px 3%;
  //margin-right: 3%;
  //margin-left: 3%;
  max-width: 300px;
  //margin-bottom: 10px;
  //margin-top: 10px;
}

.bookmark:nth-child(3n+0){
  margin-left: 1%;
}

@media screen and (max-width: 1482px){
  .bookmark {
    height: 200px;
    width: 33%;
    margin-right: 1%;
    margin-left: 1%;
    max-width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;

  }

}

@media screen and (max-width: 1300px){
  .bookmark {
    width: 45%;
    margin-right: 1%;
    margin-left: 1%;


  }

}

@media screen and (max-width: 576px){
  .bookmark {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .bookmark:nth-child(3n+0){
    margin-right: auto;
    margin-left: auto;
  }

}

.detailBookmark{
  color:$myBlue;
  &:hover{
    cursor: pointer;
  }
}

.bookmarkTitle{
  a {
    text-decoration: none;
    color: black;
    &:hover{
      color: black;
    }
  }
}