@import "bookmarkCard";

//elements in aside
.aside{
  background-color: $myGreen;
  position: sticky;
  height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  overflow: auto;
  ul {
    //list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  li a {
    display: block;
    width: 60px;
  }

}

.bars{
  display: none;
}

.linkCate{
  color: white;
  text-decoration: none;
  padding: 8px;
  font: normal 1.2rem "Montserrat";
  &:hover, &:active, &:focus{
    cursor: pointer;
    background-color: $myBlue;

  }
}

.myAccount{
  display: none;
}

.mySecondDropdown{
  position: relative;
  text-align: center;
}

.mySecondDropdownChild{
  display: none;
}

.navTopTeam{
  width: 100%;
  max-height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus{
  color: $myBlue;
  font-size: 30px;
}

.userName{
  text-align: center;
  font: normal 1.2rem "Montserrat"
}

.visible{
  display: block;
}



//elements in main
.filters{
  width: 100%;
  max-height: 50px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main{
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 75%;
  height: 100vh;
  overflow: auto;
}

.myBreadcrumb{
  width: 200px;
}

.searchIcon{
  margin-left: 10px;
  color: black;
}

.searchbar{
  width: 250px;
  display: flex;
  align-items: center;
}



//all elements in small screen
@media screen and (max-width: 768px){
  .aside{
    width: 100%;
    position: relative;
    height: auto;
    min-height: 70px;
  }
  //.categories{
  //  display: none;
  //}
  .main{
    width: 100%;
  }
  .userPicture{
    display: none;
  }
  .bars{
    display: block;
    color: black;
    font-size: 30px;
  }
  .myDropdownChild{
    display: none;
  }
}













