/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("./fonts/montserrat-v15-latin-regular.woff") format("woff");
  /* Modern Browsers */
}

/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local(""), url("./fonts/montserrat-v15-latin-500italic.woff2") format("woff2"), url("./fonts/montserrat-v15-latin-500italic.woff") format("woff");
  /* Modern Browsers */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("./fonts/montserrat-v15-latin-600.woff2") format("woff2"), url("./fonts/montserrat-v15-latin-600.woff") format("woff");
  /* Modern Browsers */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/montserrat-v15-latin-700.woff2") format("woff2"), url("./fonts/montserrat-v15-latin-700.woff") format("woff");
  /* Modern Browsers */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("./fonts/montserrat-v15-latin-800.woff2") format("woff2"), url("./fonts/montserrat-v15-latin-800.woff") format("woff");
  /* Modern Browsers */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("./fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("./fonts/roboto-v20-latin-500.woff2") format("woff2"), url("./fonts/roboto-v20-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/roboto-v20-latin-700.woff2") format("woff2"), url("./fonts/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.bookmarkCardContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.img-bkm-card {
  -webkit-align-self: center;
          align-self: center;
  margin-top: 2px;
  max-height: 45%;
  max-width: 100%;
}

.bookmark {
  height: auto;
  width: 31%;
  margin: 10px 3%;
  max-width: 300px;
}

.bookmark:nth-child(3n+0) {
  margin-left: 1%;
}

@media screen and (max-width: 1482px) {
  .bookmark {
    height: 200px;
    width: 33%;
    margin-right: 1%;
    margin-left: 1%;
    max-width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1300px) {
  .bookmark {
    width: 45%;
    margin-right: 1%;
    margin-left: 1%;
  }
}

@media screen and (max-width: 576px) {
  .bookmark {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .bookmark:nth-child(3n+0) {
    margin-right: auto;
    margin-left: auto;
  }
}

.detailBookmark {
  color: #003F87;
}

.detailBookmark:hover {
  cursor: pointer;
}

.bookmarkTitle a {
  text-decoration: none;
  color: black;
}

.bookmarkTitle a:hover {
  color: black;
}

.aside {
  background-color: #49949E;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  margin: 0;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  width: 25%;
  overflow: auto;
}

.aside ul {
  margin: 0;
  padding: 10px;
}

.aside li a {
  display: block;
  width: 60px;
}

.bars {
  display: none;
}

.dropdownTeams {
  width: 70%;
}

.linkCate {
  color: white;
  text-decoration: none;
  padding: 8px;
  font: normal 1.2rem "Montserrat";
}

.linkCate:hover, .linkCate:active, .linkCate:focus {
  cursor: pointer;
  background-color: #003F87;
}

.myAccount {
  display: none;
}

.mySecondDropdown {
  position: relative;
  text-align: center;
}

.mySecondDropdownChild {
  display: none;
}

.plus {
  color: #003F87;
  font-size: 30px;
}

.userName {
  text-align: center;
  font: normal 1.2rem "Montserrat";
}

.visible {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
}

.createContent {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  width: 100%;
  max-height: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-items: center;
          align-items: center;
  padding: 5px;
}

.main {
  margin: 0;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  width: 75%;
  height: 100vh;
  overflow: auto;
  font: normal 1rem "Montserrat";
  color: black;
}

.myBreadcrumb {
  width: 200px;
}

.navTopTeam {
  width: 100%;
  max-height: 50px;
  padding: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}

.searchIcon {
  margin-left: 10px;
  color: black;
}

.searchbar {
  width: 250px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .aside {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 70px;
    top: 0;
    z-index: 2;
    overflow: visible;
  }
  .main {
    width: 100%;
    float: left;
    z-index: 1;
    overflow: visible;
  }
  .userPicture {
    display: none;
  }
  .bars {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-self: end;
            align-self: end;
    color: black;
    font-size: 30px;
    cursor: pointer;
  }
  .myDropdownChild {
    display: none;
  }
  .visible {
    display: block;
  }
}

.contentAccount {
  margin-top: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
          justify-content: center;
  font: normal 1rem "Montserrat";
  color: black;
}

.user {
  width: 40%;
  text-align: center;
}

.teamList {
  width: 60%;
  -webkit-align-self: center;
          align-self: center;
  line-height: 40px;
}

.teamList h2 {
  margin-left: 30px;
}

.teamList a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .user {
    width: 100%;
  }
  .teamList {
    width: 100%;
  }
}

.manageTeam {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
}

.btn-manageTeam {
  padding: 2px;
  background-color: #49949E;
  border-color: #49949E;
  font: normal 0.9rem "Montserrat";
  margin-left: 10px;
}

.btn-manageTeam:hover, .btn-manageTeam:active, .btn-manageTeam:focus, .btn-manageTeam:checked {
  background-color: #306c73;
  border-color: #306c73;
  box-shadow: none;
}

.quitTeam {
  color: #F96B07;
  font-size: 20px;
  margin-left: 10px;
}

.quitTeam:hover {
  cursor: pointer;
  color: #d05503;
}

.btn-myBlue {
  color: #fff;
  background-color: #003F87;
  border-color: #003F87;
  font: normal 1rem "Montserrat";
  text-decoration: none;
}

.btn-myBlue:hover, .btn-myBlue:active, .btn-myBlue:focus, .btn-myBlue:checked {
  background-color: #022d62;
  border-color: #022d62;
  box-shadow: none;
}

.btn-myBlue:hover:focus, .btn-myBlue:hover .focus, .btn-myBlue:active:focus, .btn-myBlue:active .focus, .btn-myBlue:focus:focus, .btn-myBlue:focus .focus, .btn-myBlue:checked:focus, .btn-myBlue:checked .focus {
  font-weight: bold;
  color: white;
  box-shadow: none;
}

.btn-myOrange {
  color: #fff;
  background-color: #F96B07;
  border-color: #F96B07;
  font: normal 1rem "Montserrat";
  text-decoration: none;
}

.btn-myOrange:hover, .btn-myOrange:active, .btn-myOrange:focus, .btn-myOrange:checked {
  background-color: #d05503;
  border-color: #d05503;
  box-shadow: none;
}

.btn-myOrange:hover:focus, .btn-myOrange:hover .focus, .btn-myOrange:active:focus, .btn-myOrange:active .focus, .btn-myOrange:focus:focus, .btn-myOrange:focus .focus, .btn-myOrange:checked:focus, .btn-myOrange:checked .focus {
  font-weight: bold;
  color: white;
  box-shadow: none;
}

h1 {
  font: normal 2.5rem "Roboto";
  color: black;
}

h2 {
  font: normal 2rem "Roboto";
  color: black;
}

p {
  font: normal 1rem "Montserrat";
  color: black;
}

.navbar-beige {
  background-color: rgba(230, 224, 193, 0.42);
}

li {
  list-style-type: none;
}

.link, a {
  color: #003F87;
  text-decoration: underline;
}

.link:hover, .link:active, .link:focus, a:hover, a:active, a:focus {
  cursor: pointer;
  color: #49949E;
}

input:active, input:focus, input:current, input:enabled {
  border-color: black;
  box-shadow: black;
}
/*# sourceMappingURL=app.css.map */