@import "variables";
@import 'page/team/teamPage.scss';
@import 'page/myAccount.scss';



.btn-myBlue{
  color: #fff;
  background-color: $myBlue;
  border-color: $myBlue;
  font: normal 1rem "Montserrat";
  text-decoration: none;
  &:hover, &:active, &:focus, &:checked{
    background-color: $myBlueDarker;
    border-color: $myBlueDarker;
    box-shadow: none;
    &:focus, .focus{
      font-weight: bold ;
      color: white;
      box-shadow: none;
    }
  }
}

.btn-myOrange{
  color: #fff;
  background-color: $myOrange;
  border-color: $myOrange;
  font: normal 1rem "Montserrat";
  text-decoration: none;
  &:hover, &:active, &:focus, &:checked{
    background-color: $myOrangeDarker;
    border-color: $myOrangeDarker;
    box-shadow: none;
    &:focus, .focus{
      font-weight: bold ;
      color: white;
      box-shadow: none;
    }
  }
}

h1{
  font: normal 2.5rem "Roboto";
  color: $myBlack;
}

h2{
  font: normal 2rem "Roboto";
  color: $myBlack;
}

p{
  font: normal 1rem "Montserrat";
  color: $myBlack;
}
.navbar-beige{
  background-color: rgba(230, 224, 193, 0.42);
}


li{
  list-style-type: none;
}

.link, a{
  color: $myBlue;
  text-decoration: underline;
  &:hover, &:active, &:focus{
    cursor: pointer;
    color: $myGreen
  }
}